# Configs

title: "Cindy Carbajal"
name: "Profile for Cindy Carbajal"
email: "cindy.carbajal0913@gmail.com"
url: "https://ccarbajal13.github.io"
baseurl: "/Cindy-Carbajal-Profile"
repository: "ccarbajal13/Cindy-Carbajal-Profile"
header: 
  image: "/assets/images/24-Cindy_Carbajal-0917-WD-53.jpg"

include:
  - _pages
  - assets
  - index.html
exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/

plugins:
  - jekyll-feed
  - jekyll-remote-theme
  - jekyll-include-cache

# Build settings
markdown: kramdown
remote_theme: "mmistakes/minimal-mistakes@4.26.2"
minimal_mistakes_skin: "contrast"

# settings for author profile
author:
  name   : "Cindy Carbajal"
  avatar : "/assets/images/24-Cindy_Carbajal-0917-WD-53.jpg"
  bio    : "My name is Cindy Carbajal and I am a Public Health major student on a pre-med track at Northern Illinois University"
  location: "DeKalb, Illinois"
  github : "ccarbajal13"
  linkedin: 
  email  : 


# # comments by disqus
#comments:
  #provider: "disqus"
  #disqus:
    #shortname: "pwills-com"

#analytics:
  #provider: "google"
  #google:
    #tracking_id: "UA-116208936-1"


# pagination for blog page
paginate: 10 # number of posts to show
paginate_path: /page:num/

# default YAML front matter
defaults:
  # all
  - scope:
      path: ""
    values:
      layout: single
      mathjax: true
      author_profile: true
      class: wide
      title: " "
      title_separator: "|"
  # posts
  - scope:
      type: posts
    values:
      toc: true
      toc_label: "Contents"
      read_time: false
      comments: true
  # portfolio
  - scope:
      path: ""
      type: portfolio
    values:
      author_profile: false
      excerpt: ""
      sidebar:
        nav: "portfolio"

# collections
collections:
  portfolio:
    output: true
